body {
  font-family: Arial, sans-serif;
}

.A11{
  display:grid;
  grid-template-columns:1.8fr 1.8fr;
  border:100px solid #f0f3ff ;
  height:580px;
  width:980px;
  margin-left:140px;
  margin-right:95px;
}

.a11{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color:white;
}

.a21{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Uniform shadow across both cards */
}

.b21{
  height:50vh
}

.b21 .form-group1{
  width:290px;

}

.form-group1 input{
  margin-left:70px;
  width:260px;
  height:4.5vh;
  font-size: 10px;
}

.form-group2 input{
  margin-left:70px;
  width:260px;
  height:4.5vh;
  font-size: 10px;
}

.form-group1,
.form-group2 {
  margin-bottom: 8px; /* Adds a gap between the input fields */
}


.form1 .btn-primary{
  width:260px;
  height:4.5vh;
  margin-bottom:-5px;
  margin-left:70px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-size:14px;
}

.data{
   font-size:x-small;
   margin-left:120px;
   margin-top:20px;
}

.b21 .form-group2{
  width:290px;
}

.a21 img{
  height:420px;
  align-items:right;
  width:400px;
}


.b11 img{
  margin-top:35px;
  margin-left:40px;
}

.b11 h2{
   font-size:large;
   margin-left:73px;
   margin-top:-20px;
}

.B11{
  display:flex;
  flex-direction:column;
  width:280px;
  height:50px;
  padding-left:78px;
  padding-bottom:10px;
  border-radius:25px;
  margin-top:-30px;
}

.B11 input{
  background-color:#ccc;
  color:black;
}

.B11 button{
  margin-top:10px;
}

.B11 input{
  margin-top:10px;
}

.b21 h4{
  font-size:large;
  font-weight:bold;
  margin-left:70px;
  margin-top:60px;

}

.b21 h6{
   font-size:x-small;
   font-weight:bold;
   color:gray;
   margin-left:70px;
   margin-top:-6px;
}

.B11 button{
  background-color: #4f5bd5;
  color:white;
  border-radius:5px;
}

.B11 input{
  border-radius:5px;
}

.c11{
  display:flex;
  flex-direction:column;
}
