.table1 {
  border-collapse: collapse;
  background-color: #AED6F1;
  margin:10px;
  height:5vh;
  width:37vw;
  border:1px solid white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09);
}

.table1 th, .table1 td {
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table1 th {
  background-color: #f2f2f2;
  color: #333;
}

.table1 td {
  color: #555;
}

.bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.bullet-tech {
  background-color: #3F6AD8;
}

.bullet-task {
  background-color: #FFA500;
}

.bullet-resume {
  background-color: #7DCEA0;
}

.custom-badge-one {
  background-color: #AED6F1;
  color: #1B4F72;
  padding: 5px 10px;
  border-radius: 12px;
}

.custom-badge-two {
  background-color: #AED6F1;
  color: #1B4F72;
  padding: 5px 10px;
  border-radius: 12px;
}
