.training-participants {
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 10px;
    overflow: hidden;
    transform: scale(1);
    transform-origin: top;
  }
  
  .participant-info {
    display: flex;
    flex-direction: row;
    gap: 1vh;
  }
  
  /* .training-participants {
    background-color: white;
    padding: 6px;
    border-radius: 10px;
   } */
  
  
  .title {
    font-size: small;
    font-weight:bold;
    transform: scale(1);
   }

  .Cbtn-primary{
    /* margin-bottom:-16px; */
    background-color:#3F6AD8;
    width:77px;
    color:white;
    cursor: pointer;
    font-size: x-small;
    padding-top:-1px;
    height:3vh;
    border-radius:5px;
    text-align: center;
    border:none;
    margin-top:-1px;
    margin-left:-3rem;
    transform: scale(1);
  }
  
  
  .z{
    display:grid;
    grid-template-columns:1fr 0.2fr;
    margin-top:30px;
    margin-left:14px;
  }
  
  
  .z .title{
    margin-top:10px;
  }
  
  
  .participants-list {
    gap: 10px;
    /* display: grid;
    grid-template-columns:1fr 1fr 1fr; */
    margin-left:8px;

    display: flex;
    flex-direction: row;
    gap: 1vh;
    transform: scale(1);
   }
  
  
  .participant-card {
     border-radius: 8px;
    background-color: #eaeaea;
    text-align: center;
    margin-top:-5px;
    transform: scale(1);
    }
  
  
  .participant-card .EF{
    display: inline;
    display:flex;
    flex-direction: column;
  }
  
  
  .participant-card .participant-job{
    font-size:xx-small;
  }
  
  
  .participant-card:hover {
    background-color: #eaeaea;
  }
  
  
  .participant-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    margin-top:4px;
  }
  
  
  .participant-card .participant-name {
    font-size:x-small;
    font-weight:bolder;
    text-align: center;
   }
  
  
  .start-training-btn {
    background-color:cornflowerblue;
    color: white;
    border: none;
    border-radius: 3px;
    height: 2.5vh;
    width:70px;
    margin-left:10px;
  }

  .start-training-btn h6{
    font-size:8px;
  }
  
  
  