.app-layout1{
    display: grid;
    grid-template-columns: 220px 1fr; /* Sidebar, Main content, Right sidebar*/
  }
  
  .top-bar {
    position:fixed; /* or fixed if you want it to stay at the top while scrolling */
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40px;
  }
  
  .main-content1 {
    background-color:#e6ebfb; /* Background color for the main content */
  }
  
  .content-sections1 {
    border-radius: 8px;
    padding: 20px;
  }
    
  .nav-item1{
    color:black;
    font-size:small;
  }
  
  .nav{
    margin-top:70px;
    margin-left:-11px;
    margin-bottom:-10px;
  }
  
  .nav-item2 .nav-link, 
  .nav-item3 .nav-link {
    color: grey; /* Set the text color to grey */
    font-size: 14px; /* Reduce the font size */
  }
  
  .nav-link.active {
    color: black; /* Optional: Set the color for the active nav item */
      text-decoration: underline;
      text-decoration-color:black; /* Custom color for the underline */
      text-decoration-thickness: 1px; /* Adjust the thickness of the underline */
      text-underline-offset: 5px; /* Space between text and underline */
  }
  
  /* General styling for all nav items (optional) */
  .nav-link {
    padding: 10px 15px; /* Optional: Adjust padding for a more compact look */
    font-size: 14px; /* Set a smaller font size for all nav-links */
  } 